body {
	display: flex;
	justify-content: center;
	flex-direction:column;
	background-attachment: fixed;
	margin: 0 auto;
	font-family: sans-serif;
	background-image: url(image/pic1.jpg);
	background-position: center;
	box-shadow: inset 0px -300px 100px -100px #0D0D0D;
}

/*1--HEADER-----------------------------*/

.header {
	border-bottom: 3px solid #CC0000;
	/*BLACK*/
	/*border-bottom: 3px solid #004242;*/
	/*BLACK*/
	display:flex;
	justify-content: space-evenly;
	padding: 10px;
	align-items: center;
	text-align: center;
	position: fixed;
	width: 100%;
	margin: 0 auto;
	top: 0;
	z-index: 7;
	flex: 1;
	font-size: 15px;
	box-shadow: 0px 0px 10px 5px #0D0D0D;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#4c4c4c+0,595959+12,666666+25,474747+39,2c2c2c+50,000000+51,111111+60,2b2b2b+76,1c1c1c+91,131313+100;Black+Gloss+%231 */
background: #4c4c4c; /* Old browsers */
background: -moz-linear-gradient(top,  #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */

}

.header a {
	color: white;
	text-decoration: none;
	padding: 0px 10px 5px 10px;
	transition: all 1s;
}

.button--hover:hover {
	color: #D4D4D4;
	text-decoration: underline;
	/*animation: lineMove 1s infinite linear;*/
}
.header img {
	width: 25px;
	vertical-align: middle;
	margin: 0 auto;
	transition: all 2s;
}

.header__block-1 {
	font-size: 25px;
	flex: 2;
	text-align: right;
}

.header nav {
	cursor: pointer;
}


nav div {
	display: flex;
	left: -250px;
	position: absolute;
	flex-direction: column;
	/*background-color: #252425;*/
	margin: 0 auto;
	text-align: left;
	width: 250px;
	height: 0px;
	border-top: 1px solid #CC0000;
	border-right: 1px solid #CC0000;
	border-bottom: 1px solid #CC0000;
	top: 90px;
	transition: all 1s;
	opacity: 0.0;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#45484d+0,000000+100;Black+3D+%231 */
background: #45484d; /* Old browsers */
background: -moz-linear-gradient(top,  #45484d 0%, #000000 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #45484d 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #45484d 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

/*.anima {
	
	border-top: 1px solid white;
	border-right: 1px solid green;
	border-bottom: 1px solid blue;
	animation: lineMove 1s infinite linear;
}

@keyframes lineMove {
	0% {
		left: -250px;
	}
	100% {
		right: 20px;
	}
}*/

.js-nav--on div {
	display: flex;
	left:0;
	box-shadow: 0px 150px 300px 280px #0D0D0D;
	opacity: 1;
}

@media (max-width: 320px) {
	#js-nav div {
		top: 87px;
	}
}

@media (min-width: 321px) {
	#js-nav div {
		top: 64px;
	}
}


@media (min-width: 348px) {
	#js-nav div {
		top: 65px;
	}
}

@media (min-width: 483px) {
	#js-nav div {
		top: 50px;
	}
}

nav > div img {
	padding: 3% 10% 3% 5%;
}

nav a:hover {
	color: #D4D4D4;
	text-decoration: underline;
}

@media (min-width: 775px) {
	.header nav {
		display: none;
	}
	.header > img {
		display: none;
	}
}

@media (max-width: 775px) {
	.header__block-1 {
	display: none;
	}
}

.header__block-2 {
	display: flex;
	flex-wrap: wrap;
	flex: 1;
	flex-basis: 20%;
	justify-content: center;
}

.header__block-3 {
	flex: 2;
	text-align: left;
	flex-basis: 15%;
}

.header__block-3--img {
	padding-right: 15px;
}

@media (max-width: 775px) {
	.header__block-3 {
		display: none;
}

	.block-3--775px {
		display: flex;
		flex-wrap: wrap;
	}
}

@media (min-width: 775px) {
	.block-3--775px {
		display: none;
}
}

.js-header--black {
	border-bottom: 3px solid #004242;
}

/*2--MAIN---------------------------------------*/

.main {
	display: flex;
	justify-content: center;
	max-width: 1200px;
	padding-top: 50px;
	margin: 0 auto;
	position: inherit;
	flex: 1;
}

sup {
	font-size: 10px;
	color: #999999;
	padding-left: 5px;
}

.js-main--black {
	box-shadow: 10px 0px 10px 5px black;
	color: #F0FFFF;
}

@media (max-width: 1070px) {
	.main {
		padding-top: 65px;
	}
}


@media (max-width: 774px) {
	.main {
		padding-top: 55px;
	}
}

@media (max-width: 480px) {
	.main {
		padding-top: 65px;
	}
}

@media (max-width: 342px) {
	.main {
		padding-top: 65px;
	}
}


@media (max-width: 320px) {
	.main {
		padding-top: 85px;
	}
}


@media (max-width: 290px) {
	.main {
		padding-top: 105px;
	}
}

/*2-1--MAIN ASIDE----------------------------------------------------------*/

.main__aside {
	display: flex;
	flex: 1;
	flex-direction: column;
	height: 100%;
	font-size: 13px;
	flex-basis: 5%;
	text-align: center;
	display: fixed;
	z-index: 0;
	box-shadow: 0px 0px 6px 0px #0D0D0D;
	border-right: 1px solid #CECECE;
	padding-bottom: 100%;
background: rgb(242,245,246);
background: -moz-radial-gradient(center, ellipse cover,  rgba(242,245,246,1) 0%, rgba(227,234,237,1) 37%, rgba(200,215,220,1) 100%);
background: -webkit-radial-gradient(center, ellipse cover,  rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%); 
background: radial-gradient(ellipse at center,  rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5f6', endColorstr='#c8d7dc',GradientType=1 ); 
}

@media (max-width: 775px) {
	.main__aside {
		display: none;
	}
}

.main__aside a {
	text-decoration: none;
	opacity: 0.6;
	/*filter: grayscale(1);*/
	border-bottom: 1px solid #868686;
	padding: 20px 5px 0px 5px;
	transition: all 0.3s;
	color: black;
	text-decoration: none;
}	

.main__aside a:hover {
	/*filter: grayscale(0);*/
	opacity: 1;
	border-bottom: 1px solid #CCCCCC;
	padding: 25px 5px 5px 5px;
	filter: brightness(-50%);
}

.main__aside img {
	width: 30px;
	transition: all 0.6s;
	filter: contrast(0%);
}	

.main__aside img:hover {
	width: 40px;
}	

.js-main__aside--black {
	background: #000000;
	box-shadow: 0px 0px 4px 0px #000000;
	border-right: none;
}	

.js-main__aside--black a {
	color: #F0FFFF;
	opacity: 0.7;
}	

.js-main__aside--black img {
	filter: contrast(100%);
}

.js-main__aside--black a:hover {
	filter: sepia(50%);
}

/*2-2--MAIN MIDDLE-------------------------------------*/

.main__middle {
	display: flex;
	flex: 5;
	background-color: #FFFFFF;
	flex-basis: 67%;
	border-right: 1px solid #CCCCCC;
	padding: 15px 10px 15px 10px;
	flex-direction: column;
}

.main__middle > img {
	width: 100%;
	padding: 0;
	box-shadow: 0px 0px 2px 0px #0D0D0D;
}

.main__middle a {
	display: flex;
	flex-wrap: wrap;
	text-decoration: none;
	color: #0066CC;
	padding: 0px 5px 0px 0px;
}


.main__middle a:hover {
	text-decoration: underline #0066CC;
}


.js-main__middle--black {
	border-right: none;
background: rgb(69,72,77); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

.js-main__middle--black a {
	color: #B2B2B2;
}


.js-main__middle--black a:hover {
	text-decoration: underline #F0FFFF;
}

/*--2-2-1 MIDDLE NAVIGATION--*/

.middle__navigation {
	display: flex;
	column-gap: 10px;
}

.middle__navigation a {
	font-size: 13px;
}

/*--2-2-2--MIDDLE TITLE------*/

.middle__title {
	display: flex;
	flex-direction: column;
	padding-top: 15px;
	font-size: 25px;
}

.middle__title div {
	display: flex;
}

.middle__title img {
	display: flex;
	width: 15px;
	height: 15px;
	padding-left: 10px;
}

.title__english {
	font-size: 13px;
	color: #CCCCCC;
	padding: 5px 0px 10px 0px;
	
}

/*--2-2-3--MIDDLE STATUS---------*/

.middle__status {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	text-align: center;
	align-self: stretch;
	box-shadow: 0px 0px 2px 0px #0D0D0D;
	font-size: 15px;
	color: black;
	text-decoration: none;
	cursor: pointer;
	gap: 2px;
}

.js-button {
	flex: 1;
	padding: 5px;
	min-width: 95px;
	transition: all 0.5s;
	background: #DFE7EB;
}

.js-button:hover  {
	flex: 1;
	min-width: 95px;
	flex-basis: 2%;
}

.js-button--active {
	flex: 1;
	padding: 5px;
	min-width: 95px;
	color: #F0FFFF;
background: rgb(169,3,41);
background: -moz-linear-gradient(top,  rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
background: -webkit-linear-gradient(top,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); 
background: linear-gradient(to bottom,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); 
}

.js-buttons--black  {
	background-color: #656565;
	color: #F0FFFF;
}

/*--2-2-4--MIDDLE GRADE--------------*/

.middle__grade {
	display: flex;
	padding: 10px 0px 10px 0px;
	align-items: center;
	border-bottom: 1px solid #EEEEEE;
}

.middle__grade > div {
	width: 50%;
	display: flex;
}

.middle__grade span {
	position: absolute;
	align-self: center;
	z-index: 6;
	font-weight: 600;
}

.js-grade-1, .js-grade-2, .js-grade-3, .js-grade-4 {
	position: absolute;
	align-self: center;
	padding-left: 100px;
	/*filter: grayscale(1);*/
	transition: all 0.3s;
	opacity: 0.0;
	
}

.js-grade-5 {
	opacity: 0.3;
	position: absolute;
	align-self: center;
	padding-left: 100px;
	/*filter: grayscale(1);*/
	transition: all 0.3s;
	filter: contrast(0%);
}

.js-grade-1:hover, .js-grade-2:hover, .js-grade-3:hover, .js-grade-4:hover, .js-grade-5:hover {
	/*filter: grayscale(0);*/
	opacity: 1;
	cursor: pointer;
	filter: brightness(50%);;
}

.js-grade--on {
	/*filter: grayscale(0);*/
	opacity: 1;
	filter: brightness(50%);
}

.middle__grade img {
	width: 22px;
	padding-right: 5px;
}

.grade__number--font {
	display: flex;
	font-weight: 600;
	font-size: 20px;
	flex-wrap: wrap-reverse;
}

@media (max-width: 550px) {
	.grade__number--font {
		padding-bottom: 25px;
	}
	
	.middle__grade > div > div, .middle__grade span {
		padding-top: 25px;
	}
}

.grade__number--font font {
	font-weight: 400;
	font-size: 12px;
	padding: 0px 5px 0px 5px;
}

.js-main__middle--black .middle__grade {
	border-bottom: 1px solid #565456;
}

.js-main__middle--black .js-grade-1, .js-main__middle--black .js-grade-2, .js-main__middle--black .js-grade-3, .js-main__middle--black .js-grade-4, .js-main__middle--black .js-grade-5 {
	filter: brightness(120%);
}

.js-main__middle--black .js-grade-1:hover, .js-main__middle--black .js-grade-2:hover, .js-main__middle--black .js-grade-3:hover, .js-main__middle--black .js-grade-4:hover, .js-main__middle--black .js-grade-5:hover {
	filter: sepia(100%);
}

.js-main__middle--black .js-grade--on {
	filter: sepia(100%);
}

/*--2-2-5--MIDDLE CONTAINER 2----------------*/

.middle__container-2 {
	display: flex;
	width: 100%;
	flex-direction: column;
	border-bottom: 1px solid #EEEEEE;
	
}

.middle__container-2 li {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-bottom: 5px;
	
} 

.middle__container-2 div {
	display: flex;
	width: 50%;
	font-size: 14px;
	flex-wrap: wrap;
}

.middle__container-2 ul {
	list-style-type: none;
	padding: 0;
}

.container-2__report--active {
	display: inline-flex;
	padding-bottom: 10px;
	padding-top: 5px;
}

.container-2__report--active a {
	padding-left: 5px;
}

div .container-2__report--active {
	width: 100%;
}

.middle__kinopoisk {
	display: flex;
	justify-content: center;
	border-radius: 5px;
	box-shadow: 1px 1px 3px 0px #0D0D0D;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f0b7a1+0,8c3310+50,752201+51,bf6e4e+100;Brown+Gloss */
background: rgb(240,183,161); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(240,183,161,1) 0%, rgba(140,51,16,1) 50%, rgba(117,34,1,1) 51%, rgba(191,110,78,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(240,183,161,1) 0%,rgba(140,51,16,1) 50%,rgba(117,34,1,1) 51%,rgba(191,110,78,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(240,183,161,1) 0%,rgba(140,51,16,1) 50%,rgba(117,34,1,1) 51%,rgba(191,110,78,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0b7a1', endColorstr='#bf6e4e',GradientType=0 ); /* IE6-9 */
}

.middle__kinopoisk span {
	font-weight: 600;
}

.middle__kinopoisk img {
	width: 14px;
	height: 14px;
	padding-left: 10px;
}

.kinopoisk__img--padding {
	padding-right: 10px;
}

li .middle__kinopoisk {
	color: white;
	padding: 10px 20px 10px 10px;
	
}

li .middle__kinopoisk:hover {
	text-decoration: none;
} 

.js-main__middle--black .middle__container-2 {
	border-bottom: 1px solid #565456;
}

/*--2-2-6--MIDDLE NOTE---------------*/

.middle__note {
	padding: 10px 0px 0px 0px;
	font-size: 14px;
	cursor: pointer;
}

.middle__note img {
	width: 17px;
	padding-right: 5px;
	vertical-align: middle;
}

.js-note a {
	text-decoration: none;
	/*color: #0066CC;*/
	border-bottom: 1px dotted #0066CC;
	font-size: 14px;
	cursor: pointer;
}

.middle__note textarea {
	width: 100%;
	z-index: 1;
}

.js-note {
	position: absolute;
	z-index: 0;
}

.js-note__textarea {
	display: none;
}

.js-note__textarea button {
	margin-top: 10px;
	font-size: 15px;
	padding: 5px;
	min-width: 120px;
	border: none;
	color: #F0FFFF;
	box-shadow: 0px 0px 2px 0px #0D0D0D;
	background: rgb(169,3,41); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */
}

.js-note__textarea button:nth-child(2n) {
	color: black;
	background: #DFE7EB;
}

.js-note__textarea--on {
	display: flex;
	flex-direction: column;
}

.js-note__textarea--black > textarea {
	background: #44474C;
	color: #F0FFFF;
	outline: #45484D;
}

.js-note__textarea--black button:nth-child(2n) {
	background: #656565;
	color: #F0FFFF;
}

/*--2-2-7--DESCRIPTION + ACTORS----------------*/

.description__buttons {
	display: flex;
	padding-top: 15px;
	font-weight: 600;
	font-size: 17px;
	column-gap: 20px;
	align-items: flex-end;
	color: #999999;
}

.js-description__list, .js-actors__list {
	display: none;
	font-size: 15px;
	padding-top: 15px;
}

.js-description__list--on, .js-actors__list--on {
	display: flex;
	flex-direction: column;
}

.js-description__list--on big, .js-actors__list--on big {
	cursor: pointer;
	transition: all 0.5s;
}

.js-description__list--on span, .js-actors__list--on span {
	font-weight: 400;
	vertical-align: super;
	font-size: 10px;
	padding-left: 5px;
	color: #999999;
}

.js-description__list--on big:first-child, .js-actors__list--on big:last-child {
	border-bottom: 3px solid #CC0000;
	color: black;
}
	
.js-description__list--on big:hover, .js-actors__list--on big:hover {
	color: #787878;
}

.list {
	display: flex;
	flex-direction: column;
	padding-top: 15px;
}

.list > div {
	display: flex;
	padding: 10px 0px 10px 0px;
}

.list img {
	width: 60px;
	border-radius: 100%;
	margin-right: 10px;
	transition: all 0.5s;
	
}

.list img:hover {
	width: 100px;
}

.list a {
	width: 50%;
	align-items: center;
	font-weight: 600;
	color: black;
	display: flex;
	
}

@media (max-width: 550px) {
	.list a {
	align-items: flex-start;
	flex-direction: column;
}

}

.list a:hover {
	text-decoration: none;
}

.list a > div:hover {
	text-decoration: underline black;
}

.list sub {
	font-size: 13px;
	color: #999999;
	display: flex;
	font-weight: 400;
	padding-top: 5px;
}

#js-list--expand {
	border: none;
	background: none;
	cursor: pointer;
	color: #0066CC;
	font-weight: 400;
}

#js-list--expand:hover {
	text-decoration: underline #0066CC;
}

.js-main__middle--black > .js-actors__list--on big, .js-main__middle--black > .js-description__list--on big, .js-main__middle--black > .js-actors__list--on div {
	color: #F0FFFF;
}

.js-main__middle--black > .js-actors__list--on big:hover, .js-main__middle--black > .js-description__list--on big:hover {
	color: #A3A3A3;
}

.js-main__middle--black > .js-actors__list--on .list a > div:hover {
	text-decoration: underline #F0FFFF;
} 

.js-main__middle--black #js-list--expand {
	color: #999999;
}

.js-main__middle--black #js-list--expand:hover {
	text-decoration: underline #F0FFFF;
}

/*2-3--MAIN ASIDE-2----------------------------------*/

.main__aside-2 {
	flex-direction: column;
	display: flex;
	flex: 2;
	background-color: #FFFFFF;
	flex-basis: 28%;
	padding: 0px 15px 15px 15px;
	font-size: 15px;
}

.main__aside-2 ul {
	list-style-type: none;
	padding: 0;
}

.main__aside-2 li {
	padding: 2px;
}

.main__aside-2 img {
	width: 14px;
	padding-right: 5px;
	vertical-align: middle;
}

.main__aside-2 a {
	text-decoration: none;
	color: #0066CC;
	padding: 0px 5px 0px 0px;
}

.main__aside-2 a:hover {
	text-decoration: underline #0066CC;
}

.js-main__aside-2--black {
background: rgb(69,72,77);
background: -moz-linear-gradient(left,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); 
background: -webkit-linear-gradient(left,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);
background: linear-gradient(to right,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=1 );
}

.js-main__aside-2--black a {
	color: #B2B2B2;
}

.js-main__aside-2--black a:hover {
	text-decoration: underline #B2B2B2;
}

@media (max-width: 1110px) {
	.main__aside-2 {
		display: none;
		
}
}

/*3-1--FOOTER-----------------------*/

.footer {
	background-color: #0D0D0D;
	display: flex;
	margin: 0 auto;
	flex-direction: column;
	padding: 25px;
	flex: 1;
	
}

.footer a {
	color: white;
	text-decoration: none;
	padding: 0px 10px 0px 10px;
	font-size: 15px;
	transition: all 1s;
}

.button--hover:hover {
	color: #D4D4D4;
	text-decoration: underline;
}


@media (max-width: 1110px) {
	.footer a {
		padding: 0px 10px 5px 10px;
	}
}

.container-1__padding {
	border-right: 1px solid #66503A;
	
}

@media (max-width: 1110px) {
	.container-1__padding {
	border: none;
}
}

.footer img {
	width: 20px;
	margin: 0 auto;
	vertical-align: middle;
}

.footer__container-1 {
	flex-wrap: wrap;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	max-width: 1150px;
	width: 100%;
}

@media (max-width: 1110px) {
	.footer__container-1 {
		justify-content: center;
		max-width: 420px;
	}
}

.container-1--1110px {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	text-align: center;
}

.footer__1st-line--social a {
	padding: 0px;
	border: none;
	align-items: center;
}

.footer__2d-line-buttons {
	display: flex;
	flex-flow: wrap-reverse;
	justify-content: space-between;
	max-width: 1150px;
	margin: 0 auto;
	width: 100%;
	padding: 20px 0px 20px 0px;
}

.footer__wrap a {
	display: inline-flex;
	flex-wrap: nowrap;
	justify-content: center;
}

.footer__2d-line-buttons img {
	padding-right: 5px;
}

.footer__img--grayscale img {
	filter: grayscale(1);
}

@media (max-height: 300px) {
	.footer {
		display: none;
	}
}
